body {
 font-family: Arial, sans-serif;
 margin: 0;
 padding: 0;
 line-height: 1.5;
 background-color: #f8f8f8;
 color: #333;
 padding: 20px;
}

h1 {
 font-size: 24px;
 font-weight: bold;
 margin: 16px 0 8px 0;
 text-align: center;
 color: #333;
}

h2 {
 font-size: 18px;
 font-weight: bold;
 margin: 8px 0 4px 0;
 color: #333;
}

ul {
 margin: 0;
 padding: 0 0 0 20px;
 list-style-type: none;
}

li {
 margin: 4px 0;
 color: #333;
}

p {
 margin: 8px 0;
 color: #333;
}

nav ul {
 text-align: center;
}

nav ul li {
 display: inline-block;
}

nav ul li a {
 font-size: 18px;
 padding: 20px;
 color: #333;
}


